<!DOCTYPE html>
<html>
	<head>
		<title>Goodlister</title>
		{% include "header.html" %}
	</head>
	
<body>
	<div class="main_container">
		{% include "topbar.html" %}
		<div class="content">
			<h3 class="forsale_h">Stuff for sale</h3>
			<ul class="forsale_grid">
			{% for item in forsale_items %}
				<li>
					<a href="{{item.link}}">
						<img src="{{item.photos[0]}}">
						<div class="item_title">{{item.title}}</div>
						<div class="item_price">{{item.price}}</div>
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<script>
		
	</script>
</body>
</html>