<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/static/css/styles.css?e">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="//use.typekit.net/fqm8eha.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<meta name="description" content="GoodLister is a beautiful, hassle-free way to list stuff for sale">
<meta property="og:title" content="GoodLister: beautiful, hassle-free listing"/>
<meta property="og:url" content="http://www.goodlister.com"/>
<meta property="og:image" content="http://goodlister.com/static/img/favicon.png"/>
<meta property="og:site_name" content="GoodLister"/>
<meta property="og:description" content="GoodLister is a beautiful, hassle-free way to list stuff for sale"/>
<link rel="icon" type="image/png" href="/static/img/favicon.png">