<!DOCTYPE html>
<html>
	<head>
		<title>Goodlister</title>
		{% include "header.html" %}
	</head>
	
<body>
	<div class="main_container">
		<header class="app_header">
			<div class="logo">goodlister</div>
			<nav>
				<ul>
					<li><a href="/forsale">Buy</a></li><li><a href="/">Sell</a></li><li><a href="/" class="settings">Settings</a></li>
				</ul>
			</nav>
		</header>
		<div class="dashboard content">

			<a href="/new" id="sell" class="sell_new_item gl_button">Sell a new item</a>

			{% if my_listings %}
			<h3 class="my_listings_h">My listings</h3>
			{% endif %}

			<ul class="my_listings">
			{% for item in my_listings %}
				<li><a href="{{item.link}}">{{item.title}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<script>
		
	</script>
</body>
</html>