<!DOCTYPE html>
<html>
	<head>
		<title>Goodlister</title>
		{% include "header.html" %}
	</head>
	
<body>
	<div class="frontpage main">
		<header class="frontpage_h">
			<h1>Goodlister</h1>
			<h3>beautiful, hassle-free listing of stuff for sale</h3>
		</header>
		<div class="actions">
			<a href="/twitter_sign_in" id="sell" class="sell_item gl_button">Sell</a>
			<a href="/forsale" class="buyer gl_button">Buy</a>
			<div class="notyet">That feature is not available yet. Follow us on twitter: <a href="http://twitter.com/goodlister">@goodlister</a> to keep an eye out for it.</div>
		</div>
	</div>
	<div class="story">
	</div>
	<h4 class="copyright">&copy; 2013 <a href="http://mesh8.co">Mesh8 Inc.</a></h4>
	<script>
	
	</script>
</body>
</html>