<!DOCTYPE html>
<html>
	<head>
		<title>Nikon D90 with two lenses on GoodLister</title>
		<link rel="stylesheet" href="/static/css/styles.css?g">
		<script type="text/javascript" src="//use.typekit.net/fqm8eha.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	
<body>
	<div class="main">
		<section class="seller">
			<div class="masthead">GoodLister</div>
			<div class="lister_avatar"><img src="https://si0.twimg.com/profile_images/3480017529/d94210d2e395d780c54985a8fe4ced81.jpeg"><a href="http://twitter.com/sidjha">@sidjha</a></div>
		</section>
		<header class="listing_h">
			<h1 class="title">Nikon D90 with two lenses</h1>
			<h2 class="price">$800</h2>
			<section class="action_links">
				<a class="buy" href="#">Buy</a>
				<a class="share" href="#">Share</a>
			</section>
		</header>
		<section class="gallery">
			<figure><img src="/static/img/camera1.jpg"></figure>
			<figure><img src="/static/img/camera2.jpg"></figure>
			<figure><img src="/static/img/camera3.jpg"></figure>
			<figure><img src="/static/img/camera4.jpg"></figure>
		</section>
		<section class="details">
			<article class="includes">
				<h3 class="details_h">What's included</h3>
				<p>
				camera body, 18-105mm AF-S Nikkor lens, 50mm 1.8D AF-S Nikkor lens, CaseLogic camera bag, cables, battery, 4GB memory stick, lens covers.
				</p>
			</article>
			<article class="condition">
				<h3 class="details_h">Condition</h3>
				<p>Mint condition. One or two minor scratches on lens body (no scratches on the lens itself). </p>
			</article>
			<article class="description">
				<h3 class="details_h">About</h3>
				<p class="first">
				Thinking of getting a DSLR camera, but not sure which one? Think no further than the D90. 
				</p>
				<p>
				It lets you take the pictures you've always wanted - focused shots with the background blurred (the 50mm lens is really good at this), beautiful landscape shots and so on. 
				</p>
				<p>This camera has travelled to India, Iceland, Western Canada, New York and many other places in the US. It was originally purchased at Black's in Waterloo for $1500.</p>
				<p>
				Here are some shots I've taken with this camera: <a href="http://sidjha.500px.com">http://sidjha.500px.com</a>
				</p>
				<p>
				Here are D90 shots others have taken: http://d90shots.com/type/d90
				</p>

				
			</article>

			<article class="delivery">
				<h3 class="details_h">Delivery</h3>
				<p>Free shipping to Canada & the US.</p>
				<p>International shipping: $15</p>
				<p>Customers in Toronto can also pick up locally.</p>
			</article>

			<article class="questions">
				<h3 class="details_h">Further questions</h3>
				<p>For any further questions, you can reach me at <a href="mailto:jha.siddharth@gmail.com">jha.siddharth@gmail.com</a> or tweet me questions at @sidjha.</p> 
			</article>
		</section>
		
	</div>
</body>
</html>